<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <link th:href="@{/static/css/404.css}" rel="styleSheet" type="text/css">
</head>
<body>
<div id="main">
    <!-- header -->
    <div id="header">
        <h1>No pages here as you see!<span>404 error - not found.</span></h1>
    </div>
    <!-- content -->
    <div id="content">
        <ul class="nav">
            <li class="swagger"><a th:href="@{/swagger-ui.html}">Swagger</a></li>
        </ul>
    </div>
    <!-- footer -->
    <div id="footer">
        Unless creepy emptiness was what you were looking for, this place has nothing that you want.
    </div>
</div>
</body>
</html>